.wizzard-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.label-checkbox-text {
    margin-top: 200px;
}
.label-checkbox {
    width: 200px;
    height: 200px;
    background-image: url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: .88888889em;
    -webkit-user-select: none;
    border: 3px solid transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    background: transparent;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.label-checkbox input[type=checkbox]:checked ~ .checkmark {
    opacity: 1;
    background-color: #8262b0;
    border-color: #8262b0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label-checkbox input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

.label-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wizzard-submit {
    margin-top: 30px;
}

.wizzard-focus {
    border: 3px solid #8262b0;
}
